.container{
    margin-left: 60px;
    margin-right: 280px;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    width: 800px;
    .section{
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
        width: 100%;
        .pagenumberlist{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 50px;
            align-items: center;
            .previous{
                width: 0px;
                height: 0px;
                border-top: 7.5px solid transparent;
                border-right: 15px solid #525252;
                border-bottom: 7.5px solid transparent;
                margin-right: 8px;
            }
            .next{
                width: 0px;
                height: 0px;
                border-top: 7.5px solid transparent;
                border-left: 15px solid #525252;
                border-bottom: 7.5px solid transparent;
                margin-left: 8px;
            }
        }
        .title_normal{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }
    }
}

.official_top{
    background-color: #ebf3ff;
    border-top: 1px solid #dcdcdc;
    margin-top: 46px;
}
.official_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #dcdcdd;
    cursor: pointer;
    .official_id{
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-left: 48px;
        width: 106px;
    }
    .official_title{
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        width: 450px;
    }
    .official_date{
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #767676;
    }
    .official_top_date{
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
}

.pagenum_wrapper{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: rgba(72, 110, 153, 0.1);
    }
    .pagenum{
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #616161;
    }
}
.pagenum_selected{
    width: 40px;
    height: 40px;
    background-color: rgba(72, 110, 153, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    .pagenum{
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #486e99;
    }
}

@media all and (min-width:768px) and (max-width:1023px){
    .container{
        width: calc(100% - 80px);
        padding: 0 40px;
        margin: 0;
        margin-top: 50px;
    }
}

@media all and (max-width:767px){
    
}