.sidebar_title{
    width: 100%;
    height: 190px;
    background-color: #486e99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar_selected{
    width: 100%;
    height: 60px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #6083b2;
    font-weight: bold;
    color: #ffffff;
}
.sidebar_content:hover{
    background-color: #6083b2;
    font-weight: bold;
    color: #ffffff;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 692px;
    position: relative;
    top: -97px;
}
.sidebar_title_img{
    width: 54px;
    height: 54px;
    object-fit: contain;
    margin-bottom: 4px;
}
.sidebar_title_text{
    font-family: NotoSansCJKkr;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 4px;
}
.sidebar_content{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media all and (min-width:768px) and (max-width:1023px){

}

@media all and (max-width:767px){
    
}