.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1140px;
    justify-content: space-between;
}
.title_wrapper{
    width: 100px;
    padding-right: 12px;
}
.title{
    font-size: 15px;
    color: #00396e;
    font-weight: bold;
    padding-right: 12px;
    width: 100px;
}
.site-img{
    padding: 0 15px;
}
.img_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1028px;
}