@font-face{
  font-family: 'NotoSansCJKkr',sans-serif;
  src: url("./font/NotoSansCJKkr-Medium.woff");
  font-weight: 500;
}
@font-face{
  font-family: 'NotoSansCJKkr',sans-serif;
  src: url("./font/NotoSansCJKkr-Regular.woff");
  font-weight: normal;
}
@font-face{
  font-family: 'NotoSansCJKkr',sans-serif;
  src: url("./font/NotoSansCJKkr-Light.otf");
  font-weight: lighter;
}
@font-face{
  font-family: 'NotoSansCJKkr',sans-serif;
  src: url("./font/NotoSansCJKkr-Bold.woff");
  font-weight: bold;
}
body {
  margin: 0;
  font-family: NotoSansCJKkr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: NotoSansCJKkr;
}
